:root {
  /* color */
  --white-color: #fff;
  --black-color: #202020;
  --orange-color: #F78E12;
  --gray-color: #CBCCCF;

  /* space */
  --medium-space: 0.750em; /* 12px */
  --large-space: 1.250em; /* 20px */

  /* font size */
  --font-small: 0.875rem; /* 14px */
  --font-regular: 1.125rem; /* 18px */
  --font-medium: 1.25rem; /* 20px */
  --font-large: 2rem; /* 32px */
  --font-big: 3.125rem; /* 50px */
  --font-title: 5.25rem; /* 84px */
}

@font-face {
  font-family: 'neo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}