:root {
  /* color */
  --white-color: #fff;
  --black-color: #202020;
  --orange-color: #ff6f00;

  /* space */
  --medium-space: 0.375em; /* 6px */
  --large-space: 0.750em; /* 12px */

  /* font size */
  --font-medium: 1.25rem; /* 20px */
  --font-large: 2rem; /* 32px */
  --font-big: 3.125rem; /* 50px */
}

@font-face {
  font-family: 'Tenada';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Tenada', sans-serif;
  letter-spacing: -0.5px;
}